.btn-editar,.btn-agregar, .btn-borrar{
    background-color: white;
    border: none;
    font-size: 20px;
}
.iconos{
    padding: 0%;
}
.btn-agregar{
    color: rgb(48, 132, 188);
}
.btn-borrar{
    color: red;
}
.btn-editar a{
    color: black;
}
.texto-boton{
    padding: 0%;
    margin: 0%;
}


@media (max-width: 600px){
    .texto-boton{
        display: none;
    }
}