@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

h1{
    font-family: 'Afacad', sans-serif;
}

ul{
    font-family: 'Afacad', sans-serif;
   
}
main{
    padding-top: 30px;
    background-image: url(../img/fondoLogin.png);
}

li{
    white-space: wrap;
    overflow: hidden;    /* Ocultará cualquier contenido que se desborde */
    text-overflow: ellipsis;
}