body{
    /* margin-top: 120px; */
    background-image: url(../img/fondoLogin.png);
}
.colorFormulario {
    background-color: #362A4C;
    max-width: 100%;
    
}
.colorBotonFormulario{
    background-color: #A07AF6;
}

a {
    color:white;
}