*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(79,61,115,1) 41%, rgba(160,122,246,1) 100%);
}
.bodyEspacioNavbar{
    padding-top: 100px;
}
main{
  flex-grow: 1;
}

.linea{
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.64);
}

.img-alum{
    height: 5rem;
}
.btn-option{
    background-color: white;
    border: none;
}
.btn-play{
    background-color: white;
    border: none;
}

.list-group-item{
    border-radius: 5px;
}
.carousel {
    position: sticky;
    top: 8rem;
   
}
#sinResultados{
    display: none;
}

/* mediaqueris */
@media (max-width: 990px) {
    .container-grillas{
        flex-direction: column-reverse;
    }
    .album-grilla{
        display: none;
    }
}

@media (max-width: 820px){
     .card-text{
        display: none;
     }
}
@media (max-width: 600px){
    .card-text, .card-title{
       display: none;
    }
    .card-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .buscador{
        width: 7rem;
    }
   .formulario-buscador{
    justify-content: center;
   }
   .foto-grilla{
    height: 3rem;
   }
   .contenedor-all{
    padding: 0;
    margin: 0;
   }
   .album-grilla, .artista-grilla{
    display: none;
   }
   .fila-grilla{
    padding: 0;
    margin: 0;
   }
   .tema{
    font-size: 10px;
   }
   .grilla-play{
    font-size: small;
   }
   .volumen-reproduccion{
    display: none;
   }
   .texto-reproduccion{
    font-size: small;
    padding: 0%;
    margin: 0%;
   }  
}
